.aWorks{
	display: block;
	padding: 60px 20px;
}

.aWorks a{
  color: rgb(0, 180, 80);
}

.aWorks a:hover{
  color: rgb(0, 200, 100);
}

.aWorks h3, h4{
   font-family: "Catamaran",sans-serif;	
   padding: 20px 0 10px 0;
}

